body {
    padding-top: 56px; /* Ajuste para la navbar fija */
    background-color: #212529; /* Color de fondo para toda la página */
    color: #f8f9fa; /* Color del texto para toda la página */
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar-brand {
    font-weight: bold;
}

.logo {
    margin-right: 10px;
}

.img-fluid {
    max-width: 25%;
    height: auto;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;
}

/* Efecto hover en los enlaces del navbar */
.nav-link:hover {
    color: #0d6efd !important; /* Color al pasar el ratón (puedes cambiarlo) */
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al pasar el ratón (opcional) */
}

.nav-link.active {
    color: #0d6efd !important; /* Color del enlace activo (puedes cambiarlo) */
}

/* ----------------------- Estilos del dropdown de idioma -----------------------------*/
.dropdown-menu {
    background-color: #343a40; /* Color de fondo del dropdown */
    border: none;
}

.dropdown-item {
    color: #fff; /* Color del texto de los items del dropdown */
}

.dropdown-item:hover {
    background-color: #6c757d; /* Color de fondo al pasar el ratón por los items del dropdown */
}

.dropdown-item i {
    margin-right: -0.3rem;
    
    text-align: center;
}

.dropdown-item .fa-check {
    display: none; /* Oculta el icono de check por defecto */
}

.dropdown-item.active .fa-check {
    display: inline-block; /* Muestra el icono de check en el elemento activo */
}

.dropdown-item .fa-blank {
    visibility: visible;
}

.dropdown-item.active .fa-blank {
    visibility: hidden;
}

.dropdown-item:not(.active) .fa-check {
    display: contents ;
}
/* ---------------------- Fin de estilos del dropdown de idioma ---------------------------- */

.hero {
    
    padding: 50px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 56px);
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

footer {
    margin-top: 0px;
}

/* ------------------------------- CSS PARA EL VIDEO ------------------------------------- */

.video-col {
    padding: 0; /* Importante para evitar espacios adicionales */
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-col {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor contraste */
}

.text-container{
    padding: 2rem;
    text-align: center;
    color: white;
}

.vh-100 {
    min-height: 100vh;
   
}

main {
    margin-bottom: 45px; /* Ajusta este valor al alto de tu footer */
}
/* ------- Fin css video        --------------------------  */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #343a40; /* Mismo color que la navbar */
    color: #f8f9fa; /* Texto claro */
    padding: 1rem 0; /* Reduce el padding vertical */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #9fc5ff; /* Azul de Bootstrap */
}

.card-text {
    font-size: 1rem;
    color: #ffffff; /* Color de texto ligeramente más oscuro */
    text-align: justify;
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: flex;
}

.card-body {
    flex: 1; /* Permite que los card-body se expandan para llenar el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #212529;
}

